# env
/.venv

.venv-gpu
.venv-qam


# Pycache and other compiled Python files
src/__pycache__/
src/*.py[cod]
src/*$py.class

# Data
data/*.csv
results/*
!results/.gitkeep  # (Optional: lets you commit the folder but not the files)

__pycache__
data/analog_saves_2/*
data/analog_saves/*
data/warm_files/*
data/old/*
data/analog_saves_simulated_bifrucation/*